.left_user
  .left_user__action
    %h.tag ユーザー情報
    .list 
      %il 
        = link_to '出品する', '/items/new'
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        = link_to '出品中', '/users/show'
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        = link_to '出品履歴', '/items', method: :get
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        = link_to '購入履歴', '/buyers'
        %ul
          %li
            .fas.fa-chevron-right
  .left_user__configration
    %h.tag ユーザー設定
    .list
      %il 
        = link_to 'プロフィール(ユーザー編集)', 'users/edit'
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        =link_to 'クレジット情報', delete_card_index_path
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        =link_to 'クレジット登録', new_card_path, data: {"turbolinks" => false}
        %ul
          %li
            .fas.fa-chevron-right
