//ログアウト
.wapper
  = link_to new_item_path do
    .fas.fa-ghost.fa-8x
  = render 'toppages/toppage_header'
  .logout_main_content
    = render 'side_user'
    .right_log.out 
      .log_out.content 
        .log_out.button
          = link_to "Logout", destroy_user_session_path, method: :delete
  = render 'toppages/toppage_footer'