#addresses
  .titleArea
    %h1 住所を登録してください
    %h3 電話番号は任意
    
 
  .container
    .form-group
    
      = f.text_field :prefectures, class: "form-control", placeholder: "都道府県"
      = f.text_field :municipalities , class: "form-control", placeholder: "市町村"
      = f.text_field :addresses , class: "form-control", placeholder: "番地"
      = f.text_field :home_type , class: "form-control", placeholder: "マンション名、番号"


    .form-length
      %i= @minimum_tel_length
       
    .form-group 
      = f.tel_field :tel, class: "form-control", placeholder:"電話番号"
    
    .text-center
      = f.submit "住所を登録", class: "btn submitBtn"