
.pcHeader-headerInner
  .pcHeader-headerInner_mainHeader
    = link_to root_path do
      = image_tag "logo.png", class:"image", alt:"ほげ"
      = form_with local: true, method: :get do |f|
        = f.text_field :keyword
        .pcHeader-headerInner_mainHeader_submit
          = f.submit type: :image, src: "/assets/search1.png",width: "40px"
  .pcHeader-headerInner_text
    .pcHeader-headerInner_text_content
      %p.text カテゴリー
      %p.text2 ブランド
    .pcHeader-headerInner_text_login
      %p.text3 ログイン
      %p.text4 新規会員登録
      -# = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      = link_to "ユーザーページ", '/users', class:"txet"
