.pcHeader
  .pcHeader-headerInner
    .pcHeader-headerInner_mainHeader
      = image_tag "/assets/logo1.png", class:"image", alt:"ほげ"
      %input.text{:name => "search", :placeholder => "キーワードから探す", :type => "text"}
      .pcHeader-headerInner_mainHeader_submit
        %input.submit{:type => "image", :src => "/assets/search1.png"}
    .pcHeader-headerInner_text
      .pcHeader-headerInner_text_content
        %p.text カテゴリー
        %p.text2 ブランド
      .pcHeader-headerInner_text_login
        %p.text3 ログイン
        %p.text4 新規会員登録
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
    .pcHeader-headerInner_image
      .pcHeader-headerInner_image_main
        = image_tag "/assets/bg-mainVisual-pict_pc.jpg", class:"main", alt:"ほげ"
      .pcHeader-headerInner_image_text
        %p.text 人生を変えるフリマアプリ
        %b.text2 FURIMAは誰でもかんたんに出品できる・購入できる 
        %b.text3 FURIMAアプリです
      .pcHeader-headerInner_image_link
        %i
        = image_tag "/assets/apple.svg", class:"button1","#"
        %i
        = image_tag "/assets/google-play-badge.png", class:"button2","#"
  .pcContent-contentInner
    .pcContent-contentInner_mainContent
      %p.comment FURIMAが選ばれる三つの理由
      %p.line
    .pcContent-contentInner_image
      %p.image
        = image_tag "/assets/pict-reason-01.jpg", class:"image1", alt:"ほげ"
      %p.box1 1

      %p.image2
        = image_tag "/assets/pict-reason-02.jpg", class:"image2", alt:"ほげ"
      %p.box2 2

      %p.image3
        = image_tag "/assets/pict-reason-03.jpg", class:"image3", alt:"ほげ"
      %p.box3 3
    .pcContent-contentInner_text

      %span.image-text1> ３分
      %span.image-text1-2>ですぐに出品
      

      %span.image-text2> シンプル
      %span.image-text2-2>で使いやすい
      
      %span.image-text3> 手数料
      %span.image-text3-2>業界最安
      
    .pcContent-contentInner_comment
      %span.image-comment1>スマホで入力するだけでかんたんに出品できる！
      %span.image-comment2>めんどくさい入力は必要なく、検索も購入もスムーズ！
      %span.image-comment3>最大３％でお得に出品＆購入！

    .pcContent-contentInner_image2
      .pcContent-contentInner_image2_main2
        = image_tag "/assets/bg-topMiddleDl-pict.jpg", class:"main2", alt:"ほげ"
      .pcContent-contentInner_image2_text2
        %p.text1-1 会員数日本一位
        %p.text2-1 FURIMAは、フリマアプリで最も人気。
        %p.text3-1 出品・購入回数も業界最多です！
        %p.text4-1 ほしかったあの商品に出会えるかもしれません。
      .pcContent-contentInner_image2_link2
        %i
        = image_tag "/assets/apple.svg", class:"button1-1","#"
        %i
        = image_tag "/assets/google-play-badge.png", class:"button2-1","#"
    .pcContent-contentInner_style
      .pcContent-contentInner_style-main2
        %p.comment1-1 FURIMAの特徴
        %p.line
      .pcContent-contentInner_image2
        %p.image1-1
          = image_tag "/assets/icon-01.png", class:"image1", alt:"ほげ"

        %p.image2-1
          = image_tag "/assets/icon-03.png", class:"image2", alt:"ほげ"

        %p.image3-1
          = image_tag "/assets/icon-04.png", class:"image3", alt:"ほげ"
      .pcContent-contentInner_text2
        %span.image-text1> 
          簡単に売り買いできる
          %br
          スマホひとつで、いつでもどこでも
          %br
          簡単に出品・購入が可能！
        %span.image-text2> 
          売上金は即日振込に対応
          %br
          午前9時までに振込を依頼いただければ、
          %br
          翌日に指定の口座に入金いたします!
        %span.image-text3> 
          様々な支払いに対応
          %br
          お支払いは、クレジットカード
          %br
          だけでなくポイントや売上金など
          %br
          多彩な方法があります。
      .pcContent-contentInner_items 
        .pcContent-contentInner_items-header 
          %p.head ピックアップカテゴリー  
        .pcContent-contentInner_items-contents 
          %p.new-items 新規投稿商品
        .pcContent-contentInner_items-lists
          = link_to '購入詳細へ', "", method: :get, class:"items"
          = link_to '購入詳細へ', "", method: :get, class:"items"
          = link_to '購入詳細へ', "", method: :get, class:"items"
      .pcContent-contentInner_items2
        .pcContent-contentInner_items2-header2 
          %p.head2 ピックブランド 
        .pcContent-contentInner_items2-contents2
          %p.new-items2 アーカイバ
        .pcContent-contentInner_items2-lists2
          %p.items2 hoge 
          %p.items2 hoge
          %p.items2 hoge
      .pcContent-contentInner_image3
        .pcContent-contentInner_image3_main3
          = image_tag "/assets/bg-appBanner-pict.jpg", class:"main3", alt:"ほげ"
        .pcContent-contentInner_image3_text3
          %p.text1-1 誰でも簡単、人生を変えるアプリ
          %p.text2-1 今すぐ無料ダウンロード！
        .pcContent-contentInner_image3_link3
          %i
          = image_tag "/assets/google-play-badge.png", class:"button1-1","#"
          %i
          = image_tag "/assets/apple.svg", class:"button2-1","#"
    .pcContent-contentInner_image3_footer
      .pcContent-contentInner_image3_footer-color
        .pcContent-contentInner_image3_footer-color_block
          %p.text 
            フリマについて
            %br
            会社概要（運営会社）
            %br
            プライバシーポリシー
            %br
            　フリマ利用規約
            %br
            ポイントに関する規約
          %p.text1-1
            furimaを見る
            %br
            カテゴリー一覧
            %br
            ブランド一覧
          %p.text1-2
            ヘルプ＆ガイド
            %br
            フリマガイド
            %br
            フリマロゴ利用ガイドライン
            %br
            お知らせ
        .pcContent-contentInner_image3_footer-color_block-icon
          = image_tag "/assets/logo-white.png", class:"image5", alt:"ほげ"
        .pcContent-contentInner_image3_footer-color_block-corp
          %small.c ©FURIMA