-# データの送り先は暫定で適当な値

.exhibitionHeader
  = image_tag "logo.png", alt: "furima icon", id: "pic1", class: "exhibitionHeader__logo"
.main  
  .main__exhibitionContents
    = form_with model: @item, local: true do |f|
      .main__exhibitionContents__title
        商品の情報を入力
      .main__exhibitionContents__pictures
        %ul.main__exhibitionContents__information
          %li
            出品画像
          %li
            必須
        = f.fields_for :images do |i|
          = i.label :image, "ドラッグアンドドロップまたはクリックしてファイルをアップロード", class: "imageFieldLabel"
          = i.file_field :image, class: "imageField"
        
      .main__exhibitionContents__itemDescription
        .main__exhibitionContents__itemDescription__details
          商品の詳細
          %ul.main__exhibitionContents__information
            %li
              商品名
            %li
              必須
          = f.text_field :name, placeholder: "商品名(必須40文字まで)", class: "main__exhibitionContents__itemDescription__details__field"

        .main__exhibitionContents__itemDescription__size
          %ul.main__exhibitionContents__information
            %li
              商品のサイズ
            %li
              必須
          = f.text_field :size, class: "main__exhibitionContents__itemDescription__details__field"
          
        .main__exhibitionContents__details__category
          %ul.main__exhibitionContents__information
            %li
              カテゴリー
            %li
              必須
          = f.select :category, [["--", 0],["レディース", 1],["メンズ", 2],["ベビー・キッズ",3],["本・音楽・ゲーム",4]], class: "fieldPulldown"

        .main__exhibitionContents__details__brand
          %ul.main__exhibitionContents__information
            %li
              ブランド
            %li
              必須
          = f.select :brand, [["--", 0],["ロレックス", 1],["IWC", 2],["オーデマピゲ",3],["パテックフィリップ",4]], class: "fieldPulldown"


        .main__exhibitionContents__details__itemStatus
          %ul.main__exhibitionContents__information
            %li
              商品の状態
            %li
              必須
          = f.select :item_status, [["--", 0],["新品、未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",5]]
      .main__exhibitionContents__delivery
        .main__exhibitionContents__details__deliveryCharge
          配送について
          %ul.main__exhibitionContents__information
            %li
              配送料の負担
            %li
              必須
          = f.select :delivery_charge, [["--", 0],["送料込み(出品者負担)", 1],["着払い(購入者負担)", 2]]
        .main__exhibitionContents__details__area
          %ul.main__exhibitionContents__information
            %li
              配送元の地域
            %li
              必須
          = f.text_field :delivery_area, class: "main__exhibitionContents__itemDescription__details__field"
          .main__exhibitionContents__details__date
          %ul.main__exhibitionContents__information
            %li
              発送までの日数
            %li
              必須
          = f.select :shipment, [["--", 0],["1~2日で発送", 1],["2~3日で発送", 2],["4~7日で発送",3]]

      .main__exhibitionContents__result
        販売価格
        .main__exhibitionContents__result__sellingPrice
          %ul.main__exhibitionContents__information
            %li
              価格
            %li
              必須
          %ul.main__exhibitionContents__information
            %li
              ¥
            %li.main__exhibitionContents__result__totalPrice
              = f.number_field :price
        .main__exhibitionContents__result__commission
          販売手数料(10%)
        .main__exhibitionContents__result__profit
          販売利益
          %ul
            %li
              ここに手数料抜きの金額を表示させるjquery使用予定
            %li
              &ndash;
      .main__exhibitionContents__text
        禁止されている出品、行為を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。 偽ブランドの販売は犯罪であり
        処罰される可能性があります。
        %br
        また、出品をもちまして加盟店規約に同意したことになります。
        .main__exhibitionContents__submit
          -# = f.hidden_field "current_user.id"
          = f.submit "出品する", class: "main__exhibitionContents__submit__btn"
          = link_to "もどる", :back, class: "main__exhibitionContents__back__btn"
        
.exhibitionFooter
  %ul
    %li
      %small プライバシーポリシー
    %li
      %small フリマ利用規約
    %li
      %small 特定商取引に関する表記
  = image_tag "logo-white.png", alt: "furima icon", id: "pic1", class: "exhibitionFooter__logo"
  .exhibitionFooter__copyright
    %small
      &copy FURIMA, inc.