.exhibitionHeader
  = link_to root_path do
    = image_tag "logo.png", alt: "furima icon", id: "pic1", class: "exhibitionHeader__logo"
.main
  .main__exhibitionContents
    = form_with model: @item, local: true do |f|
      .main__exhibitionContents__title
        商品の情報を入力
      .main__exhibitionContents__pictures
        %ul.main__exhibitionContents__information
          %li
            出品画像
          %li
            必須

        .post__drop__box__container
          .prev-content
          .label-content
            %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
              .label-box__text-visible クリックして画像をアップロード
          .hidden-content
            = f.fields_for :images do |i|
              = i.file_field :image, class: "hidden-field"
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
      .main__exhibitionContents__itemDescription
        .main__exhibitionContents__itemDescription__details
          商品の詳細
          %ul.main__exhibitionContents__information
            %li
              商品名
            %li
              必須
          = f.text_field :name, placeholder: "商品名(必須40文字まで)", class: "main__exhibitionContents__itemDescription__details__field"
        .main__exhibitionContents____itemDescription__description
          %ul.main__exhibitionContents__information
            %li
              商品の説明
            %li
              必須
          = f.text_area :description, rows: 7, class: "tablearea"

        .main__exhibitionContents__itemDescription__size
          %ul.main__exhibitionContents__information
            %li
              商品のサイズ
            %li
              必須
          = f.text_field :size, class: "main__exhibitionContents__itemDescription__details__field"

        .main__exhibitionContents__itemDescription__category
          %ul.main__exhibitionContents__information
            %li
              カテゴリー
            %li
              必須
          = f.collection_select :category_id, @category, :name, :name, prompt: "--"
          .child_category_id
          .grandchild_category_id

        .main__exhibitionContents__itemDescription__brand
          %ul.main__exhibitionContents__information
            %li
              ブランド
            %li.main__exhibitionContents__information--any
              任意
          = f.select :brand, [["--", 0],["ロレックス", 1],["IWC", 2],["オーデマピゲ",3],["パテックフィリップ",4]], class: "fieldPulldown"


        .main__exhibitionContents__details__itemStatus
          %ul.main__exhibitionContents__information
            %li
              商品の状態
            %li
              必須
          = f.collection_select :status_id, Status.all, :id, :name, prompt: "--"
      .main__exhibitionContents__delivery
        .main__exhibitionContents__details__deliveryCharge
          配送について
          %ul.main__exhibitionContents__information
            %li
              配送料の負担
            %li
              必須
          = f.collection_select :postage_id, Postage.all, :id, :name, prompt: "--"
        .main__exhibitionContents__details__area
          %ul.main__exhibitionContents__information
            %li
              配送元の地域
            %li
              必須
          = f.collection_select :region_id, Region.all, :id, :name, prompt: "--"
          .main__exhibitionContents__details__date
          %ul.main__exhibitionContents__information
            %li
              発送までの日数
            %li
              必須
          = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name, prompt: "--"

      .main__exhibitionContents__result
        販売価格
        .main__exhibitionContents__result__sellingPrice
          %ul.main__exhibitionContents__information
            %li
              価格
            %li
              必須
          %ul.main__exhibitionContents__information
            %li
              ¥
            %li.main__exhibitionContents__result__totalPrice
              = f.number_field :price
        .main__exhibitionContents__result__commission
          販売手数料(10%)
        .main__exhibitionContents__result__profit
          販売利益
          %ul
            %li.main__exhibitionContents__result__profit--js
              
            %li
              &ndash;
      .main__exhibitionContents__text
        禁止されている出品、行為を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。 偽ブランドの販売は犯罪であり
        処罰される可能性があります。
        %br
        また、出品をもちまして加盟店規約に同意したことになります。
        .main__exhibitionContents__submit
          = f.submit "出品する", class: "main__exhibitionContents__submit__btn"
          = link_to "もどる", :back, class: "main__exhibitionContents__back__btn"

.exhibitionFooter
  %ul
    %li
      %small プライバシーポリシー
    %li
      %small フリマ利用規約
    %li
      %small 特定商取引に関する表記
  = image_tag "logo-white.png", alt: "furima icon", id: "pic1", class: "exhibitionFooter__logo"
  .exhibitionFooter__copyright
    %small
      &copy FURIMA, inc.
