.wapper
  = link_to new_item_path do
    .exhibitionIcon
      .exhibitionIcon__text
        出品する
      .fas.fa-camera.fa-6x
  = render 'toppages/toppage_header'
  .pcHeader-headerInner_item
    .pcHeader-headerInner_item-content
      %p.box-item-name  
        = @item.name 
        %br
        - @item.images.each do |i|
          = image_tag i.image.url ,class: "images"
        %p.box-item-name-price 
          %span.price_tag>
            = @item.price 
          %span.tax> 
          %table.box-item-name-price-2
            %tr 
            %th 商品名
            %td 
              = @item.name 
            %tr 
            %th 商品説明
            %td 
              = @item.description
            %tr 
            %th 出品者名
            %td 
              = @item.buyer_id
            %tr 
            %th カテゴリー名
            %td 
              
            %tr 
            %th ブランド              
            %td 

            %tr
            %th 商品サイズ
            %td 
              = @item.size
            %tr 
            %th 商品の状態
            %td 
              

            %tr 
            %th 配送料の負担
            %td 
              
            %tr 
            %th 発送元の地域
            %td 
              
            %tr 
            %th 発送日の目安
            %td 
              
      %p.box-item-name-price-3
        %a.submit-3 不適切な商品の通報
        %a.submit-4 商品購入画面
        %a 
        = link_to '商品編集', "#{@item.id}/edit", class:"submit-5"
      %p.box-item-name-price-comment
        %input.text-items{:type => "text", :maxlength => "150" , :size => "30"}           
        ※相手のことを考え丁寧なコメントを心がけましょう。
        %br
        ※不快な言葉遣いなどは利用制限や退会処分となろことがあります。
        %input.submit{:type => "submit", :value => "コメントする"}
        %a.previous-page ＜ 前の商品
        %a.next-page 次の商品 ＞
      %p.box-item-name-price-list
        %a.list_link 商品一覧へ
  = render 'toppages/toppage_footer'