.exhibitionHeader
  = image_tag "logo.png", alt: "furima icon", id: "pic1", class: "exhibitionHeader__logo"
.main-content
  %main.pay-main
    %section.pay-item-content
      %h2.pay-head 購入内容確認
      %section.pay-item
        .pay-content-info
          - @item.images.each_with_index do |item, i|
            - if i == 0
              = image_tag item.image.url, class: "itemImage", class: "pay-item__image"

          .pay-content-info__text
            %p.pay-price 
              ￥
              = @item.price
              %span.mop
                = @item.postage.name
           
      %section.pay-user-info
        .pay-content-info
          %h3.deli お届け先
          %address.user-info
            - current_user.addresses.each do |address|
              .user-info--text
                〒
                = address.postal_code
              .user-info--text
                = address.municipalities
                = address.address
              .user-info--text
                = address.home_type
              .user-info--text
                TEL
                = address.tel

      %section.pay-user-info
        .pay-content-info
          %h3.deli クレジット
          %p.user-info-text
          %figure
            = image_tag ""
          %p.change