.exhibitionHeader
  = image_tag "logo.png", alt: "furima icon", id: "pic1", class: "exhibitionHeader__logo"
.main-content
  %main.pay-main
    %section.pay-item-content
      %h2.pay-head 購入内容確認
      %section.pay-item
        .pay-content-info
          %h2.pay-item__image
            購入画像
            -# = image_tag @product.image_url, alt: "画像はあくまでもイメージです", class: "item-gyazo"
          %p.item-text 
          %form.pay-form
            %p.pay-price 
              ¥1,500
              %span.mop
                着払い
              = form_tag(action: :pay, method: :post) do
                %button.buyBtn 購入する
            %ul.price-table
              %li.price-breakdown
                .breakdown お買い上げ金額
                .breakdown
                  %span{"value":"15000"} ¥15,000
            
      %section.pay-user-info
        .pay-content-info
          %h3.deli お届け先
          %address.user-info-text
            %br 〒533-0041
            東京
          %p.user-info-text
          = link_to "変更する >", root_path, class: "user-info-fix"
          .dammy
      %section.pay-user-info
        .pay-content-info
          %h3.deli クレジット
          - if @default_card_information.blank?
            %br /
          - else
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(action: :pay, method: :post) do
              %button 購入する
          %p.user-info-text
            %br
          %figure
            = image_tag ""
          %p.change
          = link_to "変更する >", delete_card_index_path, class: "user-info-fix"
