#signupPage
  .titleArea
    %h1 アカウント編集
    %h4 変更部分のみ記述

    %p= link_to "マイページへ戻る", new_session_path(resource_name)
     
     
  .container
    = form_with scope: resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5, signupForm" }, local: true do |f|
      = devise_error_messages!
      .form-group
        -# = f.label :family_name_kana
        = f.text_field :family_name_kana, class: "form-control", placeholder: "(名字カナ)"

        -# %i= f.label :first_name_kana
        %i= f.text_field :first_name_kana, class: "form-control input-lg", placeholder: "(名前カナ)"

        .form-group
        -# = f.label :family_name
        = f.text_field :family_name, class: "form-control", placeholder: "名字(漢字)"

        -# %i= f.label :first_name
        %i= f.text_field :first_name, class: "form-control", placeholder: "名前(漢字)"

      .form-group
        -# = f.label :nick_name
        = f.text_field :nick_name, class: "form-control", placeholder: "ニックネーム"

      .form-group
        -# = f.label :email
        = f.email_field :email, class: "form-control", placeholder: "email" ,autocomplete: "email"

      .form-length
        %i= @minimum_password_length
        %i 文字以上入力してください
         
      .form-group 
        -# = f.label :password
        = f.password_field :password, class: "form-control", placeholder:"パスワード"
 
        -# = f.label :password_confirmation
        = f.password_field :password_confirmation, class:"form-control", placeholder: "パスワード再度入力"
      
      .text-center
        = f.submit "アカウントを作成", class: "btn submitBtn"